html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  color: var(--black-color);
  background-color: var(--white-color);
}
.button-example {
  background: var(--green);
  text-transform: uppercase;
  color: var(--white-color);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.73;
  border: none;
  width: 100%;
  padding: 17px 0px;

  &:hover {
    border: 2px solid #67aefc;
  }
  &:active {
    background: #67aefc;
  }
  @media screen and (min-width: 500px) {
    width: 400px;
  }
  @media screen and (min-width: 1200px) {
    width: 250px;
    padding: 10px 0px;
  }
  @media screen and (min-width: 1920px) {
    width: 270px;
    padding: 17px 0px;
  }
}
body.menu-open {
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
