html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  color: var(--black-color);
  background-color: var(--white-color);
}
