:root {
  // Fonts
  --main-font: 'Montserrat', sans-serif;

  // Colors
  --white-color: #fff;
  --black-color: #000;
  --green: #75e169;
  --light-blue: #daecff;
  --blue: #67aefc;

  // Animations
  --anim-duration: 250ms;
  --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
