<section class="section section-discussion" id="discussion">
  <div class="container discussion">
    <div class="discussion-block" onload="document.form1.text1.focus()">
      <h2 class="discussion__title">Обсудить проект</h2>
      <h3 class="discussion__subtitle">
        Расскажите о своих бизнес-целях и мы поможем вам в их достижении
      </h3>
      <form action="#" class="discussion-form" name="form1">
        <div class="form">
          <label class="form__label">
            <input
              maxlength="32"
              pattern="[A-Za-z]{1,32}"
              required
              class="form__input"
              type="text"
              name="name"
              id="name"
              placeholder="Имя"
            />
          </label>
          <label class="form__label">
            <input
              pattern="[A-Za-z]{1,32}"
              required
              class="form__input"
              type="text"
              name="viber"
              placeholder="Telegram/Viber"
            />
          </label>
          <label class="form__label">
            <input
              class="form__input"
              type="email"
              name="text1"
              placeholder="Email"
              multiple
            />
          </label>
        </div>
        <button
          class="button-example"
          type="button"
          name="validate"
          value="Validate"
          onclick="ValidateEmail(document.form1.text1)"
        >
          Отправить
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      alt="телефон"
      class="discussion__img"
      src="./images/svg/Postpaid.svg"
    />
  </div>
</section>
