<section class="section">
  <div class="container examples">
    <h2 class="examples__title">Примеры онлайн-магазинов</h2>
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div data-hash="slide1" class="swiper-slide">
          <div>1</div>
          <div>2</div>
          <div>3</div>
        </div>
        <div data-hash="slide2" class="swiper-slide">
          <div>4</div>
          <div>5</div>
          <div>6</div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
