<section class="section section-examples">
  <div class="container examples">
    <h2 class="examples__title">Примеры онлайн-магазинов</h2>
    <div class="swiper slider2">
      <div class="swiper-wrapper">
        <div data-hash="slide1" class="swiper-slide">
          <ul class="portfolio-list">
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-1-min.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для оптовых покупок</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-2.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для парикмахеров</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-3.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для кондитеров</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div data-hash="slide2" class="swiper-slide">
          <ul class="portfolio-list">
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-4.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для флористов</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-5.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для визажистов</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <img src="./images/mobile/picture-min/examples-6.jpg" />
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для художников</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-next" id="swiper-next"></div>
      <div class="swiper-button-prev" id="swiper-prev"></div>
    </div>
  </div>
</section>
