<section class="section section-examples" id="examples">
  <div class="container examples">
    <h2 class="examples__title">Примеры онлайн-магазинов</h2>
    <div class="swiper slider2">
      <div class="swiper-wrapper">
        <div data-hash="slide1" class="swiper-slide">
          <ul class="portfolio-list">
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-1-min.jpg    1x,
                        ./images/mobile/picture-min/examples-1@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-1-min.jpg"
                      width="300"
                      alt="корзини"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для оптовых покупок</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-2.jpg        1x,
                        ./images/mobile/picture-min/examples-2@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-2.jpg"
                      width="300"
                      alt="фен"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для парикмахеров</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-3.jpg        1x,
                        ./images/mobile/picture-min/examples-3@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-3.jpg"
                      width="300"
                      alt="торт"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для кондитеров</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div data-hash="slide2" class="swiper-slide">
          <ul class="portfolio-list">
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-4.jpg        1x,
                        ./images/mobile/picture-min/examples-4@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-4.jpg"
                      width="300"
                      alt="квіти"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для флористов</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-5.jpg        1x,
                        ./images/mobile/picture-min/examples-5@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-5.jpg"
                      width="300"
                      alt="пензлики"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для визажистов</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="portfolio-item">
              <a href="./" class="portfolio-link">
                <div class="overlay">
                  <picture>
                    <source
                      srcset="
                        ./images/mobile/picture-min/examples-6.jpg        1x,
                        ./images/mobile/picture-min/examples-6@2x-min.jpg 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      loading="lazy"
                      src="./images/mobile/picture-min/examples-6.jpg"
                      width="300"
                      alt="палітра кольорів"
                    />
                  </picture>
                  <div class="overlay-box">
                    <h3 class="overlay-subtitle">Онлайн-магазин</h3>
                    <p class="overlay-text">для художников</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button">
        <div class="swiper-button-prev" id="swiper-prev"></div>
        <div class="swiper-button-next" id="swiper-next"></div>
      </div>
    </div>
    <ul class="portfolio-list second-block">
      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-1.jpg   1x,
                  ./images/desktop/picture-min/examples-1@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-1.jpg"
                width="450"
                alt="корзини"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для оптовых покупок</p>
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-2.jpg   1x,
                  ./images/desktop/picture-min/examples-2@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-2.jpg"
                width="450"
                alt="фен"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для флористов</p>
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-3.jpg   1x,
                  ./images/desktop/picture-min/examples-3@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-3.jpg"
                width="450"
                alt="торт"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для парикмахеров</p>
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-4.jpg   1x,
                  ./images/desktop/picture-min/examples-4@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-4.jpg"
                width="450"
                alt="квіти"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для визажистов</p>
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-5.jpg   1x,
                  ./images/desktop/picture-min/examples-5@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-5.jpg"
                width="450"
                alt="пензлики"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для кондитеров</p>
            </div>
          </div>
        </a>
      </li>

      <li class="portfolio-item">
        <a href="./" class="portfolio-link">
          <div class="overlay">
            <picture>
              <source
                srcset="
                  ./images/desktop/picture-min/examples-6.jpg   1x,
                  ./images/desktop/picture-min/examples-6@2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                loading="lazy"
                src="./images/desktop/picture-min/examples-6.jpg"
                width="450"
                alt="палітра кольорів"
              />
            </picture>
            <div class="overlay-box">
              <h3 class="overlay-subtitle">Онлайн-магазин</h3>
              <p class="overlay-text">для художников</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
