<section class="section section-footer">
  <div class="container footer">
    <svg class="footer-logo">
      <use href="./images/symbol-defs.svg#icon-Frame"></use>
    </svg>

    <div class="footer-kontact kontact">
      <ul class="kontact-list">
        <li class="kontact-item">
          <p class="kontact-name">
            Валерия
            <a class="kontact-tel" href="tel:+380505859409">+380505859409</a>
          </p>
        </li>
        <li class="kontact-item">
          <p class="kontact-name">
            Анна
            <a class="kontact-tel" href="tel:+380505859409">+380505859409</a>
          </p>
        </li>
        <li class="kontact-item">
          <p class="kontact-name">
            Валерия<a class="kontact-tel" href="tel:+380505859409"
              >+380505859409</a
            >
          </p>
        </li>
      </ul>
    </div>
    <ul class="footer-link link">
      <li class="link-item">
        <svg class="link__icon">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="link-item">
        <svg class="link__icon">
          <use href="./images/symbol-defs.svg#icon-tel"></use>
        </svg>
      </li>
      <li class="link-item">
        <svg class="link__icon">
          <use href="./images/symbol-defs.svg#icon-viber"></use>
        </svg>
      </li>
      <li class="link-item">
        <svg class="link__icon">
          <use href="./images/symbol-defs.svg#icon-insta"></use>
        </svg>
      </li>
      <li class="link-item">
        <svg class="link__icon">
          <use href="./images/symbol-defs.svg#icon-whatsapp"></use>
        </svg>
      </li>
    </ul>
    <a class="footer-website" href="./">hr@d-vs.com</a>
    <p class="footer-text">Developers 2018-2021 All rights reserved</p>
  </div>
</section>
