<section class="section section-footer">
  <div class="container footer">
    <div class="footer-block first-block">
      <svg class="footer-logo">
        <use href="./images/symbol-defs-min.svg#icon-Frame"></use>
      </svg>

      <div class="footer-kontact kontact">
        <ul class="kontact-list">
          <li class="kontact-item">
            <p class="kontact-name">
              Валерия
              <a class="kontact-tel" href="tel:+380505859409">+380505859409</a>
            </p>
          </li>
          <li class="kontact-item">
            <p class="kontact-name">
              Анна
              <a class="kontact-tel" href="tel:+380505859409">+380505859409</a>
            </p>
          </li>
          <li class="kontact-item">
            <p class="kontact-name">
              Валерия<a class="kontact-tel" href="tel:+380505859409"
                >+380505859409</a
              >
            </p>
          </li>
        </ul>
      </div>
      <ul class="footer-link link">
        <li class="link-item">
          <svg class="link__icon" aria-label="facebook">
            <use href="./images/symbol-defs-min.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="link-item">
          <svg class="link__icon" aria-label="telegram">
            <use href="./images/symbol-defs-min.svg#icon-tel"></use>
          </svg>
        </li>
        <li class="link-item">
          <svg class="link__icon" aria-label="viber">
            <use href="./images/symbol-defs-min.svg#icon-viber"></use>
          </svg>
        </li>
        <li class="link-item">
          <svg class="link__icon" aria-label="instagram">
            <use href="./images/symbol-defs-min.svg#icon-insta"></use>
          </svg>
        </li>
        <li class="link-item" aria-label="whatsapp">
          <svg class="link__icon">
            <use href="./images/symbol-defs-min.svg#icon-whatsapp"></use>
          </svg>
        </li>
      </ul>
      <a class="footer-website" href="./">hr@d-vs.com</a>
      <p class="footer-text">Developers 2018-2021 All rights reserved</p>
    </div>
    <div class="footer-block second-block">
      <div class="footer-content">
        <div class="footer-main">
          
      <svg class="footer-logo">
        <use href="./images/symbol-defs-min.svg#icon-Frame"></use>
      </svg>
          <ul class="footer-link link">
            <li class="link-item">
              <li class="link-item">
              <svg class="link__icon" aria-label="instagram">
                <use href="./images/symbol-defs-min.svg#icon-insta"></use>
              </svg>
            </li>
              <svg class="link__icon" aria-label="facebook">
                <use href="./images/symbol-defs-min.svg#icon-facebook"></use>
              </svg>
            </li>
            <li class="link-item">
              <svg class="link__icon" aria-label="telegram">
                <use href="./images/symbol-defs-min.svg#icon-tel"></use>
              </svg>
            </li>
            <li class="link-item">
              <svg class="link__icon" aria-label="viber">
                <use href="./images/symbol-defs-min.svg#icon-viber"></use>
              </svg>
            </li>
            
            <li class="link-item">
              <svg class="link__icon" aria-label="whatsapp">
                <use href="./images/symbol-defs-min.svg#icon-whatsapp"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="footer-kontact kontact">
          <ul class="kontact-list">
            <li class="kontact-item">
              <p class="kontact-name">
                Валерия
                <a class="kontact-tel" href="tel:+380505859409"
                  >+380505859409</a
                >
              </p>
            </li>
            <li class="kontact-item">
              <p class="kontact-name">
                Анна
                <a class="kontact-tel" href="tel:+380505859409"
                  >+380505859409</a
                >
              </p>
            </li>
            <li class="kontact-item">
              <p class="kontact-name">
                Валерия<a class="kontact-tel" href="tel:+380505859409"
                  >+380505859409</a
                >
              </p>
            </li>
          </ul>
        </div>
        <div class="footer-site">
          <a class="footer-website" href="./">hr@d-vs.com</a>
        </div>
      </div>
      <div class="footer-adition">
        <p class="footer-text">Developers 2018-2021 All rights reserved</p>
      </div>
    </div>
  </div>
</section>
