<section class="section section-header">
  <div class="container header">
    <a class="header-logo">
      <svg class="logo">
        <use href="./images/symbol-defs.svg#icon-Frame"></use>
      </svg>
    </a>
    <button class="header-button dot" data-menu-button>
      <svg class="dot-icon">
        <use
          aria-label="Кнопка мобільного меню"
          class="dot-svg"
          href="./images/symbol-defs.svg#icon-dot-fill-none"
        ></use>
      </svg>
      <svg class="dot-icon">
        <use
          class="dot-svg"
          aria-label="Кнопка мобільного меню"
          href="./images/symbol-defs.svg#icon-dot-fill-none"
        ></use>
      </svg>
      <svg class="dot-icon">
        <use
          aria-label="Кнопка мобільного меню"
          class="dot-svg"
          href="./images/symbol-defs.svg#icon-dot-fill-none"
        ></use>
      </svg>
      <svg class="close-icon" aria-label="Кнопка мобільного меню">
        <use class="close-svg" href="./images/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <div class="header-menu" data-menu>
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a class="navigation-link">Услуги</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link">Портфолио</a>
          </li>
          <li class="navigation-item"><a class="navigation-link">Этапы</a></li>
          <li class="navigation-item">
            <a class="navigation-link">Дизайнеры</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-block">
      <nav class="header-nav nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#services">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#examples">Портфолио</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stages">Этапы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#discussion">Дизайнеры</a>
          </li>
        </ul>
      </nav>
      <button class="button-example button-header">Заказать</button>
    </div>
  </div>
</section>
