<section class="section section-hero">
  <div class="container hero">
    <div class="hero-img go-shopping">
      <div class="go-shopping-img">
        <img
          class="go-shopping__svg go-shopping__first"
          src="./images/svg/ill.svg"
        />
        <img
          class="go-shopping__svg go-shopping__second"
          src="./images/svg/Cart.svg"
        />
      </div>
    </div>
    <div class="hero-block">
      <div class="hero-context">
        <h1 class="hero__title">
          Разработка интернет-магазина с нуля за неделю
        </h1>
        <p class="hero__text">
          Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета
          - от фирменного стиля до пользовательского интерфейса в сжатые сроки с
          командой Virtual Designers
        </p>
      </div>
      <div class="hero-button">
        <button class="button-example" type="button">Заказать</button>
      </div>
    </div>
  </div>
</section>
