<section class="section section-services">
  <div class="container services" id='services'>
    <h2 class="services__title">
      Что входит в услугу по созданию дизайна интернет-магазина?
    </h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
           <p> Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
            <span class='services-item__adittionalText'>Микро-анимации способны многое объяснить без слов.
</span></p>

          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">
            Дизайн адаптивной мобильной версии
          </h3>
          <div class="services-item__text">
            <p>Мобильная версия сайта удобна для пользователя, потому что сильно упрощена по сравнению с обычной версией. Мобильная версия позволяет совершать заказ/покупку с минимумом действий. </p>
<p>При адаптивной версии вся структура сайта автоматически подстраивается под различную ширину экрана. 
<span class='services-item__adittionalText'>Для того, чтобы получить рабочий продукт не нужно писать все с нуля — достаточно лишь подправить CSS и HTML. </p><p>
Один URL избавляет нас от ненужных редиректов, и надобности пользователю запоминать адрес мобильной версии.</p>
</span>


          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн десктопной версии</h3>
          <div class="services-item__text">
            <p>Десктопную версию сайта просматривают пользователи со стационарных компьютеров. Основная цель: посерфить, углубиться в детали, получить больше информации, сравнить, выбрать, прицениться.
</p>

          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Пользовательский интерфейс</h3>
          <div class="services-item__text">
           <p> Цель дизайна пользовательского интерфейса - сделать взаимодействие максимально простым и эффективным, насколько это возможно, с точки зрения достижения целей пользователя.
            <span class='services-item__adittionalText'>Хороший дизайн пользовательского интерфейса облегчает выполнение поставленной задачи, не привлекая к себе лишнего внимания. 
</span>
</p>

          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Микро UX</h3>
          <div class="services-item__text">
            <p>Микро-анимация может изменить восприятие продукта, пользовательское поведение и повысить конверсию. Небольшие, преимущественно функциональные анимации поддерживают пользователя: обеспечивают визуальную обратную связь и более понятно отражают происходящие изменения. <span class='services-item__adittionalText'>Микро-анимации способны многое объяснить без слов.
</span>
</p>
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
