<section class="section section-services">
  <div class="container services">
    <h2 class="services__title">
      Что входит в услугу по созданию дизайна интернет-магазина?
    </h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
            Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
            Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
            Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
            Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
          </div>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__content">
          <h3 class="services-item__subtitle">Дизайн портала</h3>
          <div class="services-item__text">
            Дизайн портала — это оформление контента, совокупность всех
            графических элементов на веб-странице. Основная задача дизайна —
            познакомить пользователя со страницей. Продуманный дизайн создает
            нужное впечатление о компании.
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
