<section class="section section-services">
  <div class="container services">
    <h2 class="services__title">
      Что входит в услугу по созданию дизайна интернет-магазина?
    </h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-item__subtitle">
          <p class="services-item__text">Дизайн портала</p>
          <button
            class="services-item__button accordion"
            type="button"
          ></button>
        </div>

        <div class="services-item__content">
          Дизайн портала — это оформление контента, совокупность всех
          графических элементов на веб-странице. Основная задача дизайна —
          познакомить пользователя со страницей. Продуманный дизайн создает
          нужное впечатление о компании.
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__subtitle">
          <p class="services-item__text">Дизайн адаптивной мобильной версии</p>
          <button class="services-item__button" type="button"></button>
        </div>
        <div class="services-item__content">
          Мобильная версия сайта удобна для пользователя, потому что сильно
          упрощена по сравнению с обычной версией. Мобильная версия позволяет
          совершать заказ/покупку с минимумом действий. При адаптивной версии
          вся структура сайта автоматически подстраивается под различную ширину
          экрана.
        </div>
      </li>
      <li class="services-item">
        <p class="services-item__text">Дизайн десктопной версии</p>
        <button class="services-item__button" type="button"></button>
        <div class="services-item__content">
          Десктопную версию сайта просматривают пользователи со стационарных
          компьютеров. Основная цель: посерфить, углубиться в детали, получить
          больше информации, сравнить, выбрать, прицениться.
        </div>
      </li>
      <li class="services-item">
        <p class="services-item__text">Пользовательский интерфейс</p>
        <button class="services-item__button" type="button"></button>
        <div class="services-item__content">
          Цель дизайна пользовательского интерфейса - сделать взаимодействие
          максимально простым и эффективным, насколько это возможно, с точки
          зрения достижения целей пользователя.
        </div>
      </li>
      <li class="services-item">
        <p class="services-item__text">Микро UX</p>
        <button class="services-item__button" type="button"></button>
        <div class="services-item__content">
          Микро-анимация может изменить восприятие продукта, пользовательское
          поведение и повысить конверсию. Небольшие, преимущественно
          функциональные анимации поддерживают пользователя: обеспечивают
          визуальную обратную связь и более понятно отражают происходящие
          изменения.
        </div>
      </li>
    </ul>
  </div>
</section>
