.section-discussion {
  background-color: var(--light-blue);
  @media screen and (min-width: 1920px) {
    padding-top: 180px;
    padding-bottom: 128px;
  }
}
.container.discussion {
  position: relative;
  @media screen and (min-width: 1200px) {
    padding-right: 400px;
    padding-left: 400px;
    &::before {
      content: '';
      position: absolute;

      width: 206.26px;
      height: 268.03px;

      background-image: url('../images/svg/phone call.243.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      bottom: 45px;
      left: 100px;
    }
    &::after {
      content: '';
      position: absolute;

      width: 184px;
      height: 144.42px;

      background-image: url('../images/svg/Group\ 175.svg');
      background-repeat: no-repeat;
      background-size: contain;

      top: 100px;
      right: 150px;
    }
  }
  @media screen and (min-width: 1920px) {
    padding-right: 766px;
    padding-left: 675px;

    &::before {
      bottom: 45px;
      left: 335px;
    }
    &::after {
      top: 109px;
      right: 405px;
    }
  }
}
.discussion {
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;

    margin-bottom: 17px;

    font-size: 23px;
    font-weight: 800;
    line-height: 1.47;

    @media screen and (min-width: 1920px) {
      margin-bottom: 39px;

      font-size: 32px;
      line-height: 1.25;
    }
  }
  &__subtitle {
    text-align: center;

    margin-bottom: 25px;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.76;

    @media screen and (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: 27px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 10px;
    margin-bottom: 15px;

    @media screen and (min-width: 1920px) {
      margin-bottom: 30px;
      gap: 20px;
    }
  }
  &__img {
    margin-top: 42px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 10px;

  &__label {
  }
  &__input {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16.75px;

    width: 100%;

    border: 1px solid var(--blue);
    border-radius: 10px;
  }
}
.hidden {
  display: none;
}
.form__label:focus-within .form__input {
  border: 2px solid var(--blue);
}
