.section-discussion {
  background-color: var(--light-blue);
  @media screen and (min-width: 1920px) {
    padding-top: 180px;
    padding-bottom: 128px;
  }
}
.container.discussion {
  position: relative;
  @media screen and (min-width: 1200px) {
    padding-right: 400px;
    padding-left: 400px;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/svg/phone call.243.svg');
      background-repeat: no-repeat;
      width: 206.26px;
      height: 268.03px;
      bottom: 45px;
      background-size: cover;
      left: 100px;
      background-position: center;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/svg/Group\ 175.svg');
      background-repeat: no-repeat;
      width: 184px;
      height: 144.42px;
      background-size: contain;
      top: 100px;
      right: 150px;
    }
  }
  @media screen and (min-width: 1920px) {
    padding-right: 766px;
    padding-left: 675px;
    &::before {
      bottom: 45px;

      left: 335px;
    }
    &::after {
      top: 109px;
      right: 405px;
    }
  }
}
.discussion {
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-weight: 800;
    font-size: 23px;
    line-height: 1.47;
    text-align: center;
    margin-bottom: 17px;
    @media screen and (min-width: 1920px) {
      font-size: 32px;
      line-height: 1.25;
      margin-bottom: 39px;
    }
  }
  &__subtitle {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.76;
    font-weight: 400;
    text-align: center;
    @media screen and (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: 27px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    @media screen and (min-width: 1920px) {
      margin-bottom: 30px;
      gap: 20px;
    }
  }
  &__img {
    margin-top: 42px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
.form {
  &__label {
  }
  &__input {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16.75px;
    width: 100%;
  }
}
.hidden {
  display: none;
}
.form__label:focus-within .form__input {
  border: 2px solid var(--blue);
}
