.section-examples {
  background-color: var(--light-blue);
  position: relative;

  @media screen and (max-width: 435px) {
    padding-top: 23px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
}
.container.examples {
  &::before {
    @media screen and (min-width: 1200px) {
      content: '';
      position: absolute;

      background-image: url('../images/svg/shape\ wave.242.svg');
      background-repeat: no-repeat;
      width: 176.96px;
      height: 189.92px;
      top: 0px;
      left: 0;
      background-size: contain;
    }
  }
  &::after {
    @media screen and (min-width: 1200px) {
      content: '';
      position: absolute;
      background-image: url('../images/svg/shape\ sphere.269.svg');
      background-repeat: no-repeat;
      width: 108.44px;
      height: 108.44px;
      background-size: cover;
      bottom: 100px;
      right: 45px;
    }
  }
  @media screen and (min-width: 1920px) {
    &::before {
      width: 176.96px;
      height: 189.92px;
      top: 160px;
      left: 25px;
    }
    &::after {
      width: 108.44px;
      height: 108.44px;
      bottom: 121px;
      right: 145px;
    }
  }
}
.examples {
  position: relative;
  &__title {
    font-weight: 800;
    font-size: 23px;
    line-height: 1.47;
    text-align: center;
    padding-bottom: 14.37px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 35px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 32px;
      line-height: 1.25;
      padding-bottom: 51px;
    }
  }
  .swiper {
    display: none;
    @media screen and (max-width: 1199px) {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      position: initial;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
  }
  .slider2 {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    .swiper-slide img {
      display: block;
      object-fit: cover;
    }
    .swiper-slide {
      &__subtitle {
        gap: 15px;
        text-align: left;
        font-weight: 800;
        font-size: 17px;
        line-height: 1.58;
        text-transform: uppercase;
      }
      &__text {
        text-align: left;
        font-size: 17px;
        line-height: 1.76;
      }
    }
    .swiper-button {
      justify-content: center;
      align-items: center;
      gap: 107px;
      display: flex;
      margin-top: 60px;
      margin-bottom: 30px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      top: 0px;
      color: black;
      padding: 18px 22px 18px 26px;
      border: 2px solid #67aefc;
      border-radius: 15px;
    }
    .swiper-button-next:hover,
    .swiper-button-next:active,
    .swiper-button-prev:hover,
    .swiper-button-prev:active {
      background-color: var(--blue);
      color: white;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 24px;
      width: 12px;
      height: 24px;
      align-items: center;
    }
    .swiper-button-prev {
      left: 0;
      right: auto;
    }
    .swiper-button-next {
      right: 0;
      left: auto;
    }
  }
  .portfolio-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 30;
    flex-direction: row;
    @media screen and (min-width: 1200px) {
      column-gap: 30px;
    }
    @media screen and (min-width: 1920px) {
      gap: 38px;
      column-gap: 30px;
    }
  }
  .portfolio-item {
    display: flex;
    width: 450px;
    z-index: 10;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      width: 300px;
    }
    @media screen and (min-width: 1500px) {
      width: 400px;
    }
    @media screen and (min-width: 1920px) {
      width: 569.99px;
      height: 447px;
    }
  }
  .portfolio-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media screen and (min-width: 1000px) {
      width: 500px;
    }
    @media screen and (min-width: 1920px) {
      width: 100%;
    }

    &:hover .overlay-box {
      transform: translateY(-100%);
    }
  }
  .portfolio-text {
    flex-grow: 1;
    text-decoration: none;
    padding: 20px 24px;

    & h3 {
      color: red;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }
    & p {
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      color: violet;
    }
  }
  .overlay {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    &-box {
      width: 100%;
      height: 100%;
      background-color: #67aefc;
      border-radius: 15px;
      transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      color: white;
      transform: translateY(0%);
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
    }
    &-subtitle {
      padding-bottom: 10px;
      font-weight: 800;
      font-size: 17px;
      line-height: 1.58;
      text-transform: uppercase;
      @media screen and (min-width: 1920px) {
        font-weight: 700;
        font-size: 21px;
        line-height: 1.23;
      }
    }
    &-text {
      font-size: 17px;
      line-height: 1.76;
      @media screen and (min-width: 1920px) {
        font-size: 18px;
        line-height: 1.77;
      }
    }
    & img {
      width: 100%;
      border-radius: 15px;
    }
  }
  .second-block {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }
}
