.section-footer {
  padding-bottom: 149px;

  background-color: var(--blue);
  @media screen and (min-width: 1920px) {
    padding-top: 101px;
    padding-bottom: 79px;
  }
}
.footer {
  @media screen and(min-width: 376px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }
  &-logo {
    width: 280px;

    margin-left: 26px;
    margin-right: 29px;
    @media screen and(max-width: 374px) {
      width: 225px;
    }
  }
  &-kontact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
  }
  &-link {
    display: flex;
    flex-direction: row;

    margin-left: 15px;
    margin-top: 58px;
    margin-bottom: 41px;

    gap: 25px;
  }
  &-website {
    margin-left: 59px;

    font-size: 16px;
    line-height: 1.375;

    color: var(--white-color);
  }
  &-text {
    margin-top: 24px;
    color: white;
    margin-left: 26px;
    text-align: center;
  }
}
.kontact {
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    gap: 16px;
    @media screen and(max-width: 374px) {
      margin-left: 50px;
    }
  }
  &-item {
    position: relative;
    &::before {
      content: '';
      width: 28px;
      height: 29px;

      position: absolute;

      background-image: url('../images/svg/viber.svg');
      background-repeat: no-repeat;
      background-size: contain;

      left: -46.65px;
    }
  }
  &-name {
    font-size: 16px;
    line-height: 1.375;

    color: var(--white-color);
  }
  &-tel {
    color: var(--white-color);
  }
}
.link {
  &__icon {
    width: 33px;
    height: 25px;
  }
}
.first-block {
  display: block;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.second-block {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;

    flex-direction: column;
  }
  .footer {
    &-content {
      display: flex;
      margin-bottom: 121px;
    }
    &-kontact {
      justify-content: flex-start;
    }
    &-main {
      display: flex;
      flex-direction: column;
    }
    &-logo {
      height: 66px;

      margin-left: 0;
      margin-right: 0;
    }
    &-link {
      margin-top: 45px;
      margin-bottom: 0;
      margin-left: -30px;

      gap: 38.43px;
    }
    &-site {
      margin-top: 25px;
    }
    &-website {
      margin-left: 0;

      font-size: 20px;
      line-height: 1.2;
    }
    &-text {
      margin-top: 0;
      margin-left: auto;

      font-size: 18px;
      line-height: 1.77;
    }
  }
  .kontact {
    &-list {
      margin-top: 25px;
      gap: 13px;
    }
    &-name {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .link {
    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}
