.section.section-hero {
  @media screen and (max-width: 1199px) {
    padding-top: 28px;
    padding-bottom: 51px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 111px;
    padding-bottom: 41.25px;
  }
}

.container.hero {
  position: relative;
  width: 100%;
  padding-left: 19px;
  gap: 20px;
  @media screen and (min-width: 500px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 120px;
    gap: 10px;
  }
  @media screen and (min-width: 1400px) {
    padding-left: 250px;
    padding-right: 180px;
  }
  @media screen and (min-width: 1600px) {
    padding-left: 301px;
    padding-right: 280px;
    gap: 20px;
  }
  @media screen and (min-width: 1920px) {
    padding-left: 375px;
    padding-right: 171px;
    gap: 50px;
  }
}
.hero {
  &-img {
    align-items: center;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &-context {
    position: relative;
    &::after {
      @media screen and (min-width: 1200px) {
        content: '';
        position: absolute;

        width: 114.03px;
        height: 56.82px;

        background-image: url('../images/svg/shape\ \ cylinder.275.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        top: -70px;
        right: -400px;
      }
    }
    @media screen and (min-width: 500px) and (max-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 309px;
    }
  }
  &__title {
    padding-bottom: 22px;

    font-size: 27px;
    font-weight: 800;
    line-height: 1.18;

    text-transform: uppercase;
    @media screen and (max-width: 374px) {
      font-size: 21px;
    }
    @media screen and (min-width: 768px) {
      color: #484848;
    }
    @media screen and (min-width: 1200px) {
      font-size: 40px;
      font-weight: 900;
      line-height: 1.24;
    }
    @media screen and (min-width: 1920px) {
      font-size: 50px;
    }
  }
  &__text {
    margin-left: 1px;
    padding-bottom: 34px;

    font-size: 16px;
    line-height: 1.375;

    @media screen and (max-width: 374px) {
      font-size: 11px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1920px) {
      font-size: 16px;
    }
  }
  &-button {
    display: flex;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &-block {
    position: relative;
    @media screen and (min-width: 1920px) {
      margin-top: 60px;
    }
    &::after {
      @media screen and (min-width: 1200px) {
        content: '';
        position: absolute;

        width: 171px;
        height: 63px;

        background-image: url('../images/svg/Layer\ 9\ copy\ 3.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        bottom: 100px;
        left: -307.5px;
      }
    }

    &::before {
      @media screen and (min-width: 1920px) {
        content: '';
        position: absolute;

        width: 52.57px;
        height: 54.2px;

        background-image: url('../images/svg/shape\ sphere.267.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        top: -38px;
        left: -105.43px;
      }
    }
  }
}

.go-shopping {
  &__first {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__second {
    display: flex;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &-img {
    display: flex;

    @media screen and (min-width: 500px) {
      justify-content: center;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    &::after {
      @media screen and (max-width: 1199px) {
        content: '';
        position: absolute;

        width: 26px;
        height: 26px;

        background-image: url('../images/svg/shape\ sphere.264.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        bottom: 384px;
        right: 24px;

        z-index: -3;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 400px;
      height: auto;
    }
    @media screen and (min-width: 1400px) {
      width: 500px;
      height: 400px;
    }
    @media screen and (min-width: 1900px) {
      width: 776px;
      height: 632.75px;
    }
  }
  &__svg {
    width: 377px;
    height: 546.97px;

    @media screen and (min-width: 768px) {
      width: 330px;
      height: auto;
    }
    @media screen and (max-width: 1200px) {
      position: absolute;
      margin-left: -36px;
      z-index: -1;
    }
    @media screen and (min-width: 1400px) {
      width: 100%;
      height: auto;
      margin-left: -20px;
    }
  }
  &__ball {
    position: absolute;
    margin-left: -20px;
  }
  &::before {
    content: '';
    position: absolute;

    width: 51px;
    height: 65.95px;

    background-image: url('../images/svg/Ellipse\ 3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: -1;
    left: 0;
    @media screen and (max-width: 1199px) {
      top: 0;
    }
    @media screen and (min-width: 1200px) {
      width: 100px;
      height: 183px;

      background-position: right;
      background-image: url('../images/svg/Ellipse\ 3\ —\ копия.svg');

      bottom: 41px;
    }
    @media screen and (min-width: 1920px) {
      width: 149px;
    }
  }

  &::after {
    content: '';
    position: absolute;

    width: 184px;
    height: 253px;

    z-index: -2;
    background-image: url('../images/svg/Ellipse\ 2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    top: 8px;
    right: 0;

    z-index: -2;
    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;

      background-position: right;
      background-image: url('../images/svg/Group\ 117.svg');

      top: -10px;
    }
    @media screen and (min-width: 1920px) {
      width: 609.5px;
      height: 548px;

      background-image: url('../images/svg/Group\ 117.svg');
      background-position: right;
    }
  }
}
