.section-services {
  background-color: var(--light-blue);
  @media screen and (min-width: 1920px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.services {
  @media screen and (min-width: 1920px) {
    padding-left: 363px;
    padding-right: 363px;
  }
  &__title {
    text-align: center;
    padding-bottom: 17px;

    font-size: 17px;
    font-weight: 800;
    line-height: 1.47;

    @media screen and (min-width: 375px) {
      font-size: 23px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 40px;
      font-size: 25px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 74px;
      font-size: 32px;
      line-height: 1.25;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    &::after {
      @media screen and (min-width: 1450px) {
        content: '';
        position: absolute;

        width: 133px;
        height: 148px;

        background-image: url('../images/svg/bag.149.svg');
        background-repeat: no-repeat;

        bottom: -29px;
        right: -231px;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white-color);
  }
}
.services-item {
  position: relative;
  &__content {
    padding-left: 32px;
    padding-right: 23px;
    @media screen and (min-width: 1200px) {
      padding-right: 69px;
      padding-left: 56px;
    }
  }
  &__subtitle {
    padding-top: 14px;
    padding-bottom: 19px;
    padding-left: 57px;
    padding-right: 30px;

    font-size: 11px;
    font-weight: 400;
    line-height: 1.76;

    transition: all 750ms var(--anim-timing-function);
    @media screen and (min-width: 375px) {
      font-size: 17px;
    }
    &::after {
      content: '';
      position: absolute;

      width: 30px;
      height: 30px;

      background-image: url('../images/svg/ChevronDown.svg');
      background-repeat: no-repeat;

      right: 23px;
      top: 15px;
      transition: transform 750ms var(--anim-timing-function);
    }
    &::before {
      content: '';
      position: absolute;

      width: 15px;
      height: 15px;

      background-color: var(--green);
      border-radius: 50%;

      left: 24px;
      top: 23px;
      transition: all 750ms var(--anim-timing-function);
      @media screen and (min-width: 1200px) {
        left: 50px;
        width: 24px;
        height: 24px;
        top: 18px;
      }
    }
    @media screen and (min-width: 1200px) {
      padding-left: 40px;
      padding-top: 18px;
      padding-bottom: 19px;

      font-size: 21px;
      line-height: 1.23;
    }
  }
  &__text {
    padding-left: 25px;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.76;

    border-left: 1px solid var(--black-color);
    transition: all 750ms var(--anim-timing-function);
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;

      padding-left: 40px;

      font-size: 18px;
      line-height: 1.8;

      gap: 20px;
    }
  }
}

.services-item__text {
  display: none;
  height: 0;
}
.close.services-item__content {
  padding-bottom: 50px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 54px;
  }
}
.services-item__content.close .services-item__text {
  display: block;
  height: 100%;
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}
.services-item__content.close .services-item__subtitle {
  padding-top: 28px;
  padding-bottom: 19px;

  font-weight: 800;
  line-height: 1.58;
}
.services-item__content.close .services-item__subtitle::after {
  transform: rotate(180deg);
}
.services-item__content.close .services-item__subtitle::before {
  background-color: var(--background-blue);
  top: 34px;
  transition: all 750ms var(--anim-timing-function);
}
.services-item__adittionalText {
  display: block;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
