.section-stages {
  .stages {
    position: relative;
    padding-bottom: 115px;
    &__title {
      text-align: center;
      font-weight: 800;
      font-size: 23px;
      line-height: 1.47;
      margin-bottom: 27px;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
      position: initial;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
    .swiper-slide img {
      display: block;

      object-fit: cover;
    }
    .swiper-slide {
      height: 615px;
      border: 2px solid var(--blue);
      border-radius: 15px;
      padding-top: 27px;
      padding-left: 29px;
      padding-right: 33px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__subtitle {
        text-align: left;
        font-weight: 800;
        font-size: 17px;
        line-height: 1.58;
        text-transform: uppercase;
      }
      &__text {
        text-align: left;
        font-size: 17px;
        line-height: 1.76;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      display: flex;
      position: absolute;
      top: 755px;
      color: black;
      padding: 18px 22px 18px 26px;
      border: 2px solid #67aefc;
      border-radius: 15px;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      background-color: var(--blue);
      color: white;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 24px;
      width: 12px;
      height: 24px;
      align-items: center;
    }
    .swiper-button-prev {
      left: 74px;
      right: auto;
    }
    .swiper-button-next {
      right: 74px;
      left: auto;
    }

    .first-img {
      margin-top: 56px;
      margin-left: 21px;
      margin-right: 32px;
    }
    .second-img {
      margin-top: 56px;
      margin-left: 22px;
      margin-right: 31px;
    }
    .third-img {
      margin-top: 5px;
      margin-left: 22px;
      margin-right: 31px;
    }
    .fourth-img {
      margin-top: 40px;
      margin-left: 7px;
      margin-right: 16px;
    }
    .fifth-img {
      margin-top: 22px;
      margin-left: 12px;
      margin-right: -19px;
    }
  }
}
.mySwiper3 {
  display: none;
}
.mySwiper {
  display: flex;
}
.mySwiper3 {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
