.container.stages {
  position: relative;

  @media screen and (min-width: 700px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (min-width: 1920px) {
    padding-left: 374px;
    padding-right: 155px;
  }

  &::before {
    @media screen and (min-width: 1200px) {
      content: '';
      position: absolute;

      width: 67.39px;
      height: 67.39px;

      background-image: url('../images/svg/shape\ sphere.269.svg');
      background-repeat: no-repeat;
      background-size: cover;

      top: -47px;
      left: 217px;
      z-index: -1;
    }
    @media screen and (min-width: 1920px) {
      width: 67.39px;
      height: 67.39px;

      top: -47px;
      left: 217px;
    }
  }
  &::after {
    @media screen and (min-width: 1200px) {
      content: '';
      position: absolute;

      width: 170px;
      height: 70px;

      background-image: url('../images/svg/shape\ wave.257\ copy.svg');
      background-repeat: no-repeat;
      background-size: contain;

      bottom: -12px;
      right: 271px;
      z-index: -1;
    }
    @media screen and (min-width: 1920px) {
      width: 170px;
      height: 70px;
      bottom: -12px;
      right: 271px;
    }
  }
}
.section-stages {
  @media screen and (max-width: 768px) {
    padding-bottom: 150px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 123px;
    padding-bottom: 128px;
  }

  .stages {
    position: relative;

    &__title {
      margin-bottom: 27px;

      text-align: center;

      font-size: 23px;
      font-weight: 800;
      line-height: 1.47;
      @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 28px;
      }
      @media screen and (min-width: 1920px) {
        margin-bottom: 84px;

        font-size: 32px;
        line-height: 1.25;
      }
    }
    @media screen and (max-width: 767px) {
      .swiper {
        margin-left: auto;
        margin-right: auto;
        position: initial;
        list-style: none;
        padding: 0;
        z-index: 1;
      }
    }
    .mySwiper {
      display: none;
      @media screen and (max-width: 767px) {
        display: flex;
        .swiper-slide img {
          display: block;

          object-fit: cover;
          @media screen and (max-width: 375px) {
            width: 75%;
          }
        }
        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;

          padding-top: 27px;
          padding-left: 29px;
          padding-right: 33px;

          height: 615px;

          border: 2px solid var(--blue);
          border-radius: 15px;

          @media screen and (max-width: 375px) {
            height: 550px;
          }

          &__subtitle {
            text-align: left;

            font-size: 17px;
            font-weight: 800;
            line-height: 1.58;
            text-transform: uppercase;
          }
          &__text {
            text-align: left;
            font-size: 17px;
            line-height: 1.76;
            @media screen and (max-width: 375px) {
              font-size: 15px;
            }
          }
        }

        .first-img {
          margin-top: 56px;
          margin-left: 21px;
          margin-right: 32px;
        }
        .second-img {
          margin-top: 56px;
          margin-left: 22px;
          margin-right: 31px;
        }
        .third-img {
          margin-top: 5px;
          margin-left: 22px;
          margin-right: 31px;
          @media screen and (max-width: 375px) {
            margin-top: 50px;
          }
        }
        .fourth-img {
          margin-top: 40px;
          margin-left: 7px;
          margin-right: 16px;
        }
        .fifth-img {
          margin-top: 22px;
          margin-left: 12px;
          margin-right: -19px;
        }
      }
      .swiper-button {
        display: flex;
        justify-content: center;

        margin-top: 25px;
        gap: 107px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        position: absolute;
        padding: 18px 22px 18px 26px;

        top: 755px;
        color: black;

        border: 2px solid #67aefc;
        border-radius: 15px;
        @media screen and (max-width: 375px) {
          top: 700px;
        }
      }
      .swiper-button-next:hover,
      .swiper-button-prev:hover {
        background-color: var(--blue);
        color: white;
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        align-items: center;

        width: 12px;
        height: 24px;

        font-size: 24px;
      }
      .swiper-button-prev {
        left: 74px;
        right: auto;
        @media screen and (min-width: 700px) and (max-width: 767px) {
          left: 200px;
        }
      }
      .swiper-button-next {
        right: 74px;
        left: auto;
        @media screen and (min-width: 700px) and (max-width: 767px) {
          right: 200px;
        }
      }
    }
    .mySwiper3 {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        overflow: hidden;
      }
      .swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
      }

      .swiper-slide {
        display: flex;

        width: 467.5px;
        height: 389px;

        text-align: center;
        font-size: 15px;
        line-height: 1.38;

        background: #fff;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;

          height: 500px;

          padding-left: 20px;
          padding-right: 20px;
        }
        padding-left: 35px;

        justify-content: center;
        align-items: start;

        border: 2px solid #67aefc;
        border-radius: 15px;

        &:nth-child(1) {
          gap: 36px;
          padding-left: 70px;
        }
        &:nth-child(2) {
          gap: 34px;
        }
        &:nth-child(3) {
          gap: 11;
        }
        &:nth-child(4) {
          gap: 20px;
        }
        &:nth-child(5) {
          gap: 37px;
        }
        @media screen and (min-width: 1920px) {
          width: 672px;
          padding-left: 63px;
          font-size: 18px;
        }
      }
      .swiper-picture {
        display: contents;
      }
      .swiper-slide img {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
          width: 70%;
          object-fit: contain;
        }
        @media screen and (min-width: 1200px) {
          padding-top: 100px;
          padding-bottom: 100px;
          padding-right: 20px;
        }
      }

      .swiper-slide-content {
        text-align: left;
        justify-content: center;
        padding-top: 30px;
        @media screen and (min-width: 1920px) {
          padding-top: 53px;
        }
      }
      .swiper-slide__subtitle {
        margin-bottom: 21px;
      }
      .swiper-wrapper {
        margin-bottom: 84px;
      }
      .swiper-button {
        display: flex;
        justify-content: center;
        gap: 107px;
        @media screen and (min-width: 1920px) {
          gap: 30px;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        position: relative;
        padding: 18px 22px 18px 26px;

        top: 0px;
        color: black;

        border: 2px solid #67aefc;
        border-radius: 15px;
      }
      .swiper-button-next:hover,
      .swiper-button-prev:hover {
        background-color: var(--blue);
        color: white;
      }
      .swiper-button-next:after,
      .swiper-button-prev:after {
        width: 12px;
        height: 24px;

        align-items: center;

        font-size: 24px;
      }
      .swiper-button-prev {
        left: 0;
        right: auto;
      }
      .swiper-button-next {
        right: 0;
        left: auto;
      }
      @media screen and (min-width: 1920px) {
        .first-img {
          padding-top: 76px;
          padding-right: 33px;
          padding-bottom: 63px;

          width: 250px;
          height: 250px;
        }
        .second-img {
          padding-top: 100px;
          padding-right: 60px;
          padding-bottom: 69px;

          width: 227px;
          height: 222px;
        }
        .third-img {
          padding-top: 42px;
          padding-right: 37px;
          padding-bottom: 36px;

          width: 250px;
          height: 253px;
          transform: rotate(15.72deg);
        }
        .fourth-img {
          padding-top: 104px;
          padding-right: 58px;
          padding-bottom: 82px;

          width: 250px;
          height: 205.1px;
        }
        .fifth-img {
          padding-top: 57px;
          padding-right: 14px;
          padding-bottom: 47px;

          width: 277.45px;
          height: 287.44px;
        }
      }
    }
  }
}
